/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/* Basic html layout */
html {
  font-size: 1.125em; /* 18px / 16 px = 1.125em */
  line-height: 1.222em; /* 22px / 18 = 1.222em */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0 1em;
  background-color: #f2f2f2;
  /*background-image: url(CSSGrid.png);*/
}

a {
  text-decoration: none;
}

h1, h2 {
  font-size: 1.5em; /* 27px / 18px = 1.5em */
  line-height: 1.83333333em; /* 33px / 18 px = 1.83333333em */
  padding-bottom: 0.6111111em; /* 11px / 18px = 0.6111111em */
  color: maroon;
}

h3 {
  font-size: 1.222em; /* 22px / 18px = 1.222em */
  line-height: 1.66666667em; /* 30px / 18px = 1.66666667em */
  padding-bottom: 0.6111111em; /* 11px / 18px = 0.6111111em */
  padding-top: 0.6111111em; /* 11px / 18px = 0.6111111em */
  color: #ff3333;
}

h4 {
  font-weight: 500;
}

header {
  display: flex;
  flex-direction: column-reverse;
  padding-top: 0.61111111em; /* 11px / 18px = 0.6111111em */
}

img {
  display: block;
  max-width: 100%;
}

p {
  padding-bottom: 0.6111111em; /* 11px / 18px = 0.6111111em */
}

ul {
  padding: 0 0 1.222em 1.222em;
  list-style-type: square;
}

figcaption {
  padding-top: 0.61111111em; /* 11px / 18px = 0.6111111em */
  text-align: center;
  padding-bottom: 0.6111111em; /* 11px / 18px = 0.6111111em */
}

.image li {
  display: flex;
  list-style-type: none;
}

.pages,
#navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
}

.pages li {
  padding-left: 0.2777778em; /* 5px / 18px = 0.2777778em */
}

.resumetitle {
  display: flex;
  justify-content: center;
}

.personal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  text-align: center;
}

.nolist {
  list-style-type: none;
}

.disc {
  list-style-type: disc;
}

.experience {
  list-style-type: none;
  padding: 0 0 1.222em 0;
}

.js .pages {
  display: none;
}

.js .pages.visible {
  display: inline-flex;
}

#navigation h2 {
  font-size: 1.125em; /* 18px / 16 px = 1.125em */
}

@media screen and (min-width: 450px) {
  .pages,
  #navigation h2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
    font-size: 1.5em; /* 27px / 18px = 1.5em */
  }
}

@media screen and (min-width: 650px) {
  .personal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
  }

  img {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
  }

  .pages li,
  #navigation h2 {
    text-align: center;
    margin-left: 1em;
    padding: 0.2222222em; /* 4px / 18px = 0.22222222em */
    border: 0.11111111em solid black; /* 2px / 18px = 0.1111111em */
  }
}

@media screen and (min-width: 900px) {
  #resume,
  #schedule {
    padding-left: 2.77777778em; /* 50px / 18px = 2.77777778em */
  }
}
